{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% comment %} <title>Home pages</title> {% endcomment %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% comment %} font icon {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% comment %} css {% endcomment %}    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
    <link rel="stylesheet" href="{%static 'responsive/base.css' %}" /> 
    {% block head-content %} {% endblock head-content %} 

    {% comment %} js {% endcomment %}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
        let user = "{{request.user}}";
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, "csrftoken".length + 1) === "csrftoken=") {
                        cookieValue = decodeURIComponent(cookie.substring("csrftoken".length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
        const csrftoken = getCookie("csrftoken");
    </script>
  </head>
  <body>
    <div id="main"> 
      {% comment %} header {% endcomment %}
      <div class="header__wrap">
        <div class="header">
            <div class="header__logo">
              <a href="/" style="color: #000; display: flex; justify-content: center; align-items: center; height: 100%; text-decoration: none; font-size: 24px; font-weight: 600;">                  
                  CleanFood
                  {% comment %} {{hello}} {% endcomment %}
              </a>
            </div>
            <!-- btn header menu mobile -->
            <div class="header__menu-mobile">
                <i class="fa-solid fa-bars"></i>
            </div>
            <!-- end btn menu -->
            <div class="header__nav">
                <!-- btn header close -->
                <div class="header__nav-close-mobile">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <!-- end btn header close -->
                <ul class="list__nav">
                    <li><a href="/introduceFood">Cẩm nang ẩm thực</a></li>
                    <li><a href="/menu">Sản phẩm
                        <i class="fas fa-sort-down"></i>
                        <ul class="subnav">
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Tất cả</h3>
                                    <div class="content__menu"></div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Rau và Cây Ăn Quả</h3>
                                    <div class="content__menu">
                                        <p>Rau xanh</p>
                                        <p>Cây ăn quả</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Thực Phẩm Biển</h3>
                                    <div class="content__menu">
                                        <p>Tôm và sò điệp</p>
                                        <p>Cá biển</p>
                                        <p>Hải sản khác</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Sản Phẩm Hữu Cơ</h3>
                                    <div class="content__menu">
                                        <p>Trái cây hữu cơ</p>
                                        <p>Rau hữu cơ</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Thịt và Gia Súc</h3>
                                    <div class="content__menu">
                                        <p>Thịt gà và gia cầm</p>
                                        <p>Thịt bò và súc vật lớn</p>
                                        <p>Thịt heo và gia súc khác</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__menu">Sản Phẩm Khác</h3>
                                    <div class="content__menu">
                                        <p>Sữa và sản phẩm từ sữa</p>
                                        <p>Sản phẩm lên men</p>
                                    </div>
                                </a></li>
                        </ul>
                    </a></li>
                    {% comment %} <li><a href="./story.php">Chuyện cà phê và Trà
                        <i class="fas fa-sort-down"></i>
                        <ul class="subnav">
                            <li class="subnav__items"><a>
                                    <h3 class="title__story">Coffeeholic</h3>
                                    <div class="content__story">
                                        <p>#chuyencaphe</p>
                                        <p>#phacaphe</p>
                                        <p>#phatra</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__story">Teaholic</h3>
                                    <div class="content__story">
                                        <p>#phatra</p>
                                        <p>#cauchuyenvetra</p>
                                    </div>
                                </a></li>
                            <li class="subnav__items"><a>
                                    <h3 class="title__story">Blog</h3>
                                    <div class="content__story">
                                        <p>#inthemood</p>
                                        <p>#Review</p>
                                        <p>#HumanofTCH</p>
                                    </div>
                                </a></li>
                        </ul>
                    </a></li> {% endcomment %}
                    <li><a href="/store">Cửa hàng</a></li>
                    {% comment %} <li><a href="./tuyendung.php" target="_blank">Tuyển dụng</a></li> {% endcomment %}
                    <li><a href="/cart">Giỏ hàng</a></li>

                    <!--Thay doi khi dang nhap-->
                    <!-- thêm biến chứa username vào title -->
                    {% if request.user.is_anonymous %}
                        <li class="js-login"><a>
                            Đăng Nhập
                            <i class="fa-solid fa-user"></i>
                        </a></li>
                        {% else %}
                        <li class="nav-item dropdown d-flex" style="padding: 0 0" title="">
                            <div class="overlay__textUser">
                            <a class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Welcome, {{ request.user }}
                            </a>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li style="padding: 0;"><a class="dropdown-item" style="padding: 0 15px;" href="" target="_blank">Trang cá nhân</a></li>
                            <li style="padding: 0;"><a class="dropdown-item" style="padding: 0 15px;" href="" target="_blank">Đơn hàng</a></li>
                            <li style="padding: 0;"><a class="dropdown-item" style="padding: 0 15px;" href="/logout">Đăng xuất</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
      </div>    

      {% comment %} main body {% endcomment %} 
      {% block main-content %} {% endblock main-content %} 
      
      {% comment %} footer {% endcomment %}
      <!-- Footer -->
      <div class="footer__wrap">
        <div class="footer">
            <div class="footer__introduce">
                <h4 class="introduce__title">Giới thiệu</h4>
                <ul class="introduce__list">
                    <li><a href="">Về Chúng Tôi</a></li>
                    <li><a href="">Sản phẩm</a></li>
                    <li><a href="">Khuyến mãi</a></li>
                    <li><a href="">Chuyện cà phê</a></li>
                    <li><a href="">Cửa Hàng</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                </ul>
            </div>
            <div class="footer__rules">
                <h4 class="rules__title">Điều khoản</h4>
                <ul class="rules__list">
                    <li><a href="">Điều khoản sử dụng</a></li>
                    <li><a href="">Quy tắc bảo mật</a></li>
                </ul>
            </div>
            <div class="footer__hotline">
                <h4 class="hotline__phone">
                    <i class="fas fa-phone"></i>
                    <p>Đặt hàng: 1800 6936</p>
                </h4>
                <h4 class="hotline__contact">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Liên hệ</p>
                </h4>
                <p class="hotline__address">
                    Tầng 3-4 Hub Building 195/10E Điện Biên Phủ, P.15 , Q.Bình Thạnh, TP.Hồ Chí Minh
                </p>
            </div>
            <div class="footer__socials">
                <div class="social_bg">
                    <img src={% static "images/logo.png" %} alt="" class="social__bgImg">
                    <div class="social__logo">
                        <img src={% static "images/logo.png" %} alt="">
                    </div>
                    <div class="social__desc">
                        <div class="social__name">
                            <p>Clean Food</p>
                            <div class="verifi">
                                <img src={% static "images/logo.png" %} alt="">
                            </div>
                        </div>
                        <div class="social__inter">602.577 lượt thích</div>
                    </div>
                    <div class="social__interacWrap-botton">
                        <div class="social__like">
                            <i class="fab fa-facebook-square"></i>
                            <p>Thích Trang</p>
                        </div>
                        <div class="social__share">
                            <i class="fas fa-share"></i>
                            <p>Chia Sẻ</p>
                        </div>
                    </div>
                </div>
                <div class="social__icon">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
        </div>
      </div>
    <!-- Footer -->
    </div>   
    
    <div class="modal js-modal">
      <div class="modal__container js-modalContainer">
          <div class="modal__header">
              <div class="modal__header__title">
                  Chào mừng bạn đến với CleanFood
              </div>              
          </div>

          <div class="modal__close js-modal-close">
              <i class="fa-solid fa-xmark"></i>
          </div>
          <div class="clear"></div>

          <div class="modal__body">
              <form action="" method="POST">
                    {% csrf_token %}
                  <label for="modal-user" class="modal__label">
                      <i class="fas fa-user"></i>
                      Tài khoản:
                  </label>
                  <input id="modal-user" name="username" type="text" class="modal__input-user" placeholder="Email">                  
                  <label for="modal-pass" class="modal__label">
                      <i class="fas fa-key"></i>
                      Mật Khẩu:
                  </label>
                  <input id="modal-pass" name="password" type="password" class="modal__input-pass" placeholder="Mật Khẩu">
                  {% for message in messages %}
                    <p id="message" style="font-size: 16px; font-weight: 400; color: red;">
                        {{message}}
                    </p>                  
                  {% endfor %}
                  <button class="modal__login" type="submit" name="submit">
                      Đăng Nhập
                  </button>
              </form>
          </div>
          <div class="modal__footer">
              <div class="modal__footer-head">
                  <a href="">Hỗ trợ</a>
                  <a href="/register" target="_blank">Đăng ký</a>
              </div>

              <p class="modal__footer-subhead">Hoặc đăng nhập bằng các tài khoản sau</p>

              <div class="modal__footer-icon">
                  <img src={%static "images/base/modalLogin-ggchr.png"%} alt="">
                  <img src={%static "images/base/modalLogin-fb.png"%} alt="">
                  <img src={%static "images/base/modalLogin-ios.png"%} alt="">
                  <img src={%static "images/base/modalLogin-twitter.png"%} alt="">
              </div>
          </div>
      </div>
    </div>

    <script src="{%static 'js/base.js'%}"></script>     
    {% comment %} <script src="{%static 'js/home.js'%}"></script> {% endcomment %}
    {% comment %} <script src="{%static 'js/menu.js'%}"></script>      {% endcomment %}
    <script src="" async defer></script>
  </body>
</html>
