{% extends 'app/base.html' %} {% load static %}
{% block head-content %}
<title>Thanh toán</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
{% endblock head-content %}
{% block main-content %}
<div class="wrapper">
  <div class="checkout-container">
    <h1>Thanh toán</h1>
    <form method="POST" action="{% url 'checkout' %}">
        {% csrf_token %}
        {{ shipping_address_form.as_p }}

        <div class="list__btn">
            <button type="submit">Xác nhận thanh toán</button>
            <a href="/cart" class="btn__back">Trở về</a>
        </div>
    </form>
  </div>

  <div class="cart__items-container">
    <h4 class="title" style="">Giỏ hàng</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Ảnh</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá tiền</th>
            <th scope="col">Số lượng</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td class="image-product-wrap">
                <img src="{% if item.product.thumbnail %}
                    {{ item.product.thumbnail.url }}
                    {% else %}https://img.freepik.com/premium-vector/window-operating-system-error-warning-dialog-window-popup-message-with-system-failure-flat-design_812892-54.jpg
                  {% endif %}"
                  alt="" />
              </td>
              <td class="name-product">{{ item.product.name }}</td>
              <td class="value-product">{{ item.product.price | floatformat:3 }} đ</td>
              <td class="count-product">{{ item.quantity }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5" scope="col">
              Tổng tiền thanh toán :<p class="sumValue" style="margin-bottom: 0;">{{ order.get_cart_total | floatformat:3 }} đ</p>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock main-content %}
{% comment %} <script>
  document.addEventListener('DOMContentLoaded', function () {
    var form = document.querySelector('#checkout-form');
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      // Kiểm tra nếu người dùng đã nhập đầy đủ thông tin
      var name = document.getElementById('id_address').value;
      var email = document.getElementById('id_city').value;
      var address = document.getElementById('id_stay').value;
      var card = document.getElementById('id_phone').value;

      if (name && email && address && card) {
        // Hiển thị alert về đặt hàng thành công
        alert('Đặt hàng thành công!');

        // Chuyển hướng về trang home sau khi người dùng bấm OK
        window.location.href = '/';
      } else {
        // Nếu không đầy đủ thông tin, bạn có thể thực hiện các xử lý khác hoặc hiển thị cảnh báo khác
        alert('Vui lòng nhập đầy đủ thông tin!');
      }
    });
  });
</script> {% endcomment %}
