{% extends 'app/base.html' %} {% load static %} 
{% block head-content%} 
    <title>Trang chủ</title>
    <link rel="stylesheet" href="{%static 'css/home.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
    <link rel="stylesheet" href="{%static 'responsive/base.css' %}" />       
    {% comment %} <link rel="stylesheet" href="{%static 'css/style.css' %}" /> {% endcomment %}
{% endblock head-content %}
{% block main-content %}
    {% comment %} <div id="main">         {% endcomment %}
        <!-- poster -->
        <div class="poster">
            <img src={% static "images/base/home-slider.jpg" %} alt="">
        </div>
        <!-- menu items-hot -->
        <div class="itemsHot__wrap">
            <ul class="itemsHot__list">                
                <li><a href="" >
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food1.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm hùm
                            </h3>
                            <p class="itemHot__value">
                                109.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="" >
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food2.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm sú
                            </h3>
                            <p class="itemHot__value">
                                99.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="">
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food3.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm sò điệp
                            </h3>
                            <p class="itemHot__value">
                                89.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="" >
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food4.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm tít
                            </h3>
                            <p class="itemHot__value">
                                59.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="">
                        <div class="itemHot__imgWrap">
                            <img src="{% static "images/base/food5.jpg" %}" alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm càng xanh
                            </h3>
                            <p class="itemHot__value">
                                82.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="">
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food6.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm càng đỏ
                            </h3>
                            <p class="itemHot__value">
                                85.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="">
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food7.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm ngao
                            </h3>
                            <p class="itemHot__value">
                                82.000 đ
                            </p>
                        </div>
                    </a></li>
                <li><a href="">
                        <div class="itemHot__imgWrap">
                            <img src={% static "images/base/food8.jpg" %} alt="">
                        </div>
                        <div class="itemHot__content">
                            <h3 class="itemHot__title">
                                Tôm sừng
                            </h3>
                            <p class="itemHot__value">
                                79.000 đ
                            </p>
                        </div>
                    </a></li>
            </ul>
        </div>
        <!-- item-focus -->
        <div class="itemsFocus__wrap">
            <div class="itemsFocus">
                <div class="itemFirst">
                    <div class="itemFirst__desc">
                        <h3 class="itemFirst__desc-title">
                            Nobashi
                        </h3>
                        <p class="itemFirst__desc-content">
                            Khách hàng có thể tìm thấy nhiều kích cỡ tôm sú và tôm thẻ chân trắng. 
                            Có nhiều kiểu đóng gói đa dạng: Khay hút chân không, IQF, Túi có hoặc không có tấm nhựa và gói bán lẻ.
                        </p>
                        <!-- 1 -->
                        <div class="itemsFirst__desc-btn">
                            Tìm hiểu thêm
                        </div>
                    </div>
                    <div class="itemFirst__img">
                        <img src={% static "images/base/home-hotitem1.png" %} alt="">
                    </div>
                </div>
                <div class="itemSecond">
                    <div class="itemSecond__desc">
                        <h3 class="itemSecond__desc-title">
                            Marinate
                        </h3>
                        <p class="itemSecond__desc-content">
                            Các sản phẩm ướp của chúng tôi có nhiều hương vị khác nhau sẽ đáp ứng khẩu vị của mọi người.
                        </p>
                        <!-- 2 -->
                        <div class="itemsSecond__desc-btn">
                            Tìm hiểu thêm
                        </div>
                    </div>
                    <div class="itemSecond__img">
                        <img src="{% static "images/base/home-hotitem2.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- store-address -->
        <div class="store__wrap">
            <div class="store">
                <div class="store__content-wrap">
                    <div class="store__desc">
                        <h3 class="store__desc-title">
                            Clean Food 92 Lê Thanh Nghị - Hà Nội
                        </h3>
                        <div class="store__desc-content">
                            Nhà Lê Thanh Nghị có thật nhiều khung cửa kính lớn đón nắng và ấm áp với tông nâu, hiện đại - thanh lịch; không "đụng hàng" bất kì nhà nào ở Hà Nội
                        </div>
                        <div class="store__desc-btn">
                            Tìm hiểu thêm
                        </div>
                    </div>
                    <div class="store__slide-img">
                        <!-- slideshow -->
                        <div class="store__slide-item">
                            <img src={% static "images/base/store-1.jpg" %} style="width: 100%; height: 100%"/>
                        </div>
                        <div class="store__slide-item hidden">
                            <img src={% static "images/base/store-2.jpg" %} style="width: 100%; height: 100%"/>
                        </div>
                        <div class="store__slide-item hidden">
                            <img src={% static "images/base/store-3.jpg" %} style="width: 100%; height: 100%"/>                        
                        </div>
                        <div class="store__slide-item hidden">
                            <img src={% static "images/base/store-4.jpg" %} style="width: 100%; height: 100%"/>                        
                        </div>

                        <div class="store__slide-btnNext">
                            <i class="fa-solid fa-caret-right"></i>
                        </div>
                        <div class="store__slide-btnPrev">
                            <i class="fa-solid fa-caret-left"></i>
                        </div>
                        <div class="store__slide-listDot">
                            <i class="fa-solid fa-circle dot__active"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                            <i class="fa-solid fa-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog -->
        <div class="blog__wrap">
            <div class="blog">
                <div class="blog__titlewrap">                    
                    <h2 class="blog__title">Chuyện về Thực phẩm sạch</h2>
                </div>
                <!-- blog coffee -->
                <div class="blog__coffee">
                    <h2 class="blog__coffee-title">Nguyên tắc và lợi ích của thực phẩm sạch</h2>
                    <ul class="blog__coffee-list">
                        <li><a href="">
                            <div class="blog__coffee-imgwrap">
                                <img src={% static "images/base/blog-1.jpg" %} alt="">
                            </div>
                            <div class="blog__coffee-desc">
                                <div class="blog__date">18/11/2023</div>
                                <h3 class="blog__title-img" title="">Thực Phẩm Sạch và Sức Khỏe: Câu Chuyện Của Người Thay Đổi Chế Độ Ăn Uống</h3>
                                <p class="blog__content">
                                    Hồng là một người trước đây ăn thực phẩm chế biến và đồ ăn nhanh chóng. Sau khi chuyển sang ăn thực phẩm sạch, cô đã cảm nhận sự thay đổi rõ rệt trong sức khỏe và năng lượng. 
                                    Hồng chia sẻ về cuộc hành trình cá nhân của mình để chuyển đổi sang một lối sống ăn thực phẩm sạch và lợi ích đáng kinh ngạc mà cô đã trải qua.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__coffee-imgwrap">
                                <img src={% static "images/base/blog-2.jfif" %} alt="">
                            </div>
                            <div class="blog__coffee-desc">
                                <div class="blog__date">17/11/2023</div>
                                <h3 class="blog__title-img" title="">Nông Dân Vào Vườn: Sự Gắn Kết Của Gia Đình Với Thực Phẩm Sạch</h3>
                                <p class="blog__content">
                                    Gia đình Smith đã sáng lập một trang trại nhỏ để sản xuất thực phẩm sạch và hữu cơ. Họ cho biết mô hình này không chỉ là một cơ hội để cung cấp thực phẩm chất lượng cho cộng đồng, mà còn là cách họ gắn kết và học hỏi cùng nhau qua quá trình làm việc với đất đai và cây cỏ.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__coffee-imgwrap">
                                <img src={% static "images/base/blog-3.jfif" %} alt="">
                            </div>
                            <div class="blog__coffee-desc">
                                <div class="blog__date">15/11/2023</div>
                                <h3 class="blog__title-img" title="">Thực Phẩm Sạch Cho Một Tương Lai Tươi Sáng: Cuộc Chiến Chống Thực Phẩm Biến Đổi Gen</h3>
                                <p class="blog__content">
                                    Diễn đàn về thực phẩm sạch đã quyết định tìm hiểu về thách thức đối mặt với thực phẩm biến đổi gen. Họ đã nghiên cứu, thảo luận và chia sẻ thông tin về cách ngăn chặn sự biến đổi gen trong nguồn thực phẩm của họ. Cuộc chiến này là một phần của sự nỗ lực toàn cầu để bảo vệ sự trong sạch của thực phẩm.
                                </p>
                            </div>
                        </a></li>
                    </ul>
                </div>
                <!-- blog tea -->
                <div class="blog__tea">
                    <h2 class="blog__tea-title">Thực phẩm sạch và môi trường</h2>
                    <ul class="blog__tea-list">
                        <li><a href="">
                            <div class="blog__tea-imgwrap">
                                <img src="{% static "images/base/blog-4.webp" %}" alt="">
                            </div>
                            <div class="blog__tea-desc">
                                <div class="blog__date">18/11/2023</div>
                                <h3 class="blog__title-img">Thực Phẩm Hữu Cơ và Bảo Vệ Môi Trường: Một Kết Nối Bất Diệt</h3>
                                <p class="blog__content">
                                    Câu chuyện về trang trại hữu cơ của gia đình Brown, nơi họ sử dụng các phương pháp canh tác bảo vệ môi trường như việc giảm thiểu sử dụng hóa chất. Họ thấy rằng việc canh tác hữu cơ không chỉ bảo vệ đất đai và nước mà còn tạo ra thực phẩm sạch và ngon.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__tea-imgwrap">
                                <img src="{% static "images/base/blog-5.jfif" %}" alt="">
                            </div>
                            <div class="blog__tea-desc">
                                <div class="blog__date">12/11/2023</div>
                                <h3 class="blog__title-img">Lối Sống Xanh: Thực Phẩm Sạch và Tác Động Lên Biến Đổi Khí Hậu?</h3>
                                <p class="blog__content">
                                    Một nhóm thanh niên đã tạo ra một trang trại thành phố và sản xuất thực phẩm sạch trong môi trường đô thị. Họ thấy rằng việc ăn thực phẩm sạch giúp giảm thiểu tác động của sản xuất thực phẩm đến biến đổi khí hậu và khuyến khích lối sống xanh hơn.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__tea-imgwrap">
                                <img src="{% static "images/base/blog-6.jfif" %}" alt="">
                            </div>
                            <div class="blog__tea-desc">
                                <div class="blog__date">11/11/2023</div>
                                <h3 class="blog__title-img">Thực Phẩm Sạch và Bảo Vệ Đa Dạng Sinh Học: Sứ Mệnh Của Một Công Viên Địa Phương</h3>
                                <p class="blog__content">
                                    Công viên địa phương đã thực hiện một dự án để bảo vệ đa dạng sinh học bằng cách trồng thực phẩm hữu cơ và tạo ra một môi trường cho các loài cây và động vật tự nhiên. Câu chuyện này kể về sự thành công của họ trong việc duy trì cân bằng sinh thái.
                                </p>
                            </div>
                        </a></li>
                    </ul>
                </div>
                <!-- blog normal-->
                <div class="blog__normal">
                    <h2 class="blog__normal-title">Thực phẩm sạch và cộng đồng</h2>
                    <ul class="blog__normal-list">
                        <li><a href="">
                            <div class="blog__normal-imgwrap">
                                <img src="{% static "images/base/blog-7.png" %}" alt="">
                            </div>
                            <div class="blog__normal-desc">
                                <div class="blog__date">17/11/2023</div>
                                <h3 class="blog__title-img">Thực Phẩm Sạch Vào Bữa Cơm Gia Đình: Cuộc Hành Trình Tìm Kiếm Hương Vị Quê Hương</h3>
                                <p class="blog__content">
                                    Một người mẹ bắt đầu sử dụng thực phẩm sạch để nấu những bữa cơm gia đình truyền thống của quê hương. Cô chia sẻ về việc tìm kiếm nguồn thực phẩm sạch và cách nó đã đem lại hương vị quê hương vào bữa cơm gia đình.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__normal-imgwrap">
                                <img src="{% static "images/base/blog-8.jpg" %}" alt="">
                            </div>
                            <div class="blog__normal-desc">
                                <div class="blog__date">15/11/2023</div>
                                <h3 class="blog__title-img">Cuộc Đua Thực Phẩm Sạch: Cùng Nhau Xây Dựng Thị Trấn Sạch</h3>
                                <p class="blog__content">
                                    Thị trấn nhỏ của Hillsdale đã khởi xướng một cuộc đua thực phẩm sạch để tạo động lực cho các cơ sở sản xuất nông sản địa phương tuân theo các tiêu chuẩn về thực phẩm sạch. Cuộc đua này không chỉ kích thích sự cạnh tranh trong việc cung cấp thực phẩm sạch, mà còn thúc đẩy sự phát triển kinh tế và cải thiện sự đoàn kết trong cộng đồng.
                                </p>
                            </div>
                        </a></li>
                        <li><a href="">
                            <div class="blog__normal-imgwrap">
                                <img src="{% static "images/base/blog-9.jfif" %}" alt="">
                            </div>
                            <div class="blog__normal-desc">
                                <div class="blog__date">14/11/2023</div>
                                <h3 class="blog__title-img">Làm Đẹp Cho Cộng Đồng: Thực Phẩm Sạch và Dự Án Xã Hội</h3>
                                <p class="blog__content">
                                    Một nhóm thanh niên đã bắt đầu dự án trồng rau sạch trong trường học để cung cấp thực phẩm cho người dân cơ động trong cộng đồng. Dự án này không chỉ cung cấp thực phẩm sạch mà còn tạo ra cơ hội học hỏi và làm đẹp cho cộng đồng.
                                </p>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>        
    {% comment %} </div>     {% endcomment %}

    <script src="{%static 'js/home.js'%}"></script>
{% endblock main-content %}
