{% extends 'app/base.html' %} {% load static %} 
{% block head-content%} 
    <title>Cẩm nang ẩm thực</title>
    <link rel="stylesheet" href="{%static 'css/introduceFood.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
    <link rel="stylesheet" href="{%static 'responsive/base.css' %}" />       
    {% comment %} <link rel="stylesheet" href="{%static 'css/style.css' %}" /> {% endcomment %}
{% endblock head-content %}
{% block main-content %}
    <!-- poster -->
    <div class="poster">
        <img src="{% static "images/logo.png" %}" alt="">
    </div>
    <!-- menu items-hot -->
    <div class="itemsHot__wrap">
        <ul class="itemsHot__list">                
            <li><a href="" >
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food1.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm hùm
                        </h3>
                        <p class="itemHot__value">
                            109.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="" >
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food2.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm sú
                        </h3>
                        <p class="itemHot__value">
                            99.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="">
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food3.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm sò điệp
                        </h3>
                        <p class="itemHot__value">
                            89.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="" >
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food4.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm tít
                        </h3>
                        <p class="itemHot__value">
                            59.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="">
                    <div class="itemHot__imgWrap">
                        <img src="{% static "images/base/food5.jpg" %}" alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm càng xanh
                        </h3>
                        <p class="itemHot__value">
                            82.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="">
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food6.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm càng đỏ
                        </h3>
                        <p class="itemHot__value">
                            85.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="">
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food7.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm ngao
                        </h3>
                        <p class="itemHot__value">
                            82.000 đ
                        </p>
                    </div>
                </a></li>
            <li><a href="">
                    <div class="itemHot__imgWrap">
                        <img src={% static "images/base/food8.jpg" %} alt="">
                    </div>
                    <div class="itemHot__content">
                        <h3 class="itemHot__title">
                            Tôm sừng
                        </h3>
                        <p class="itemHot__value">
                            79.000 đ
                        </p>
                    </div>
                </a></li>
        </ul>
    </div>
{% endblock main-content %}
