{% extends 'app/base.html' %} {% load static %} 
{% block head-content%} 
    <title>Cẩm nang ẩm thực</title>
    <link rel="stylesheet" href="{%static 'css/introduceFood.css' %}" />
    <link rel="stylesheet" href="{%static 'css/style.css' %}" />
    <link rel="stylesheet" href="{%static 'responsive/base.css' %}" />       
    {% comment %} <link rel="stylesheet" href="{%static 'css/style.css' %}" /> {% endcomment %}
{% endblock head-content %}
{% block main-content %}
    <!-- poster -->
    <div class="poster">
        <img src="{% static "images/logo.png" %}" alt="">
    </div>
    <!-- menu items-hot -->
    <div class="itemsHot__wrap">
        <h3 class="title__itemTea">Cẩm nang ẩm thực</h3>
        <ul class="itemsHot__list">
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>            
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
            <li><a href="">
                <div class="itemHot__imgWrap">
                    <img src="{% static "images/logo.png" %}" alt="">
                </div>
                <div class="itemHot__content">
                    <h3 class="itemHot__title">
                        Hello
                    </h3>
                    <p class="itemHot__value">
                        500.000VND
                    </p>
                </div>
            </a></li>
        </ul>
    </div>
{% endblock main-content %}
