{% extends 'app/base.html' %} {% load static %}
{% block head-content %}
<title>Chi tiết sản phẩm</title>
<link rel="stylesheet" href="{% static 'css/productDetail.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'responsive/base.css' %}" />

{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
{% endblock head-content %}
{% block main-content %}   
    {% comment %} <div style="height: 100vh; background-color: red;">hello</div> {% endcomment %}
    <div class="body__product" style="margin: 80px auto;">
        {% for product in products %}
            <h1 class="product__title">Chi tiết sản phẩm</h1>
            <div class="product__container">
                <div class="product__imgWrap">
                    <img src="{% if product.thumbnail %} {{ product.thumbnail.url }}{% else %}https://img.freepik.com/premium-vector/window-operating-system-error-warning-dialog-window-popup-message-with-system-failure-flat-design_812892-54.jpg{% endif %}" alt="">
                </div>
                <div class="product__content">
                    <div class="product__info">
                        <h3 class="product__name">{{product.name}}</h3>
                        <p class="product__value">{{product.price | floatformat:3 }} VNĐ</p>
                        <p class="product__desc">{{product.desc}}</p>
                    </div>
                    <div class="product__action">
                        <div class="product__btnCancel">
                            <a href="/menu">Cancel</a>
                        </div>                                
                        <button style="background-color: #ea8025; color: #fff; padding: 5px 10px; border: #ea8025 1px solid; cursor: pointer; font-size: 16px; font-weight: 400; border-radius: 10px;"
                            class="update-cart"
                            data-product={{product.id}}
                            data-action="add"
                        >
                            Add to cart
                        </button>                            
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
    <script src="{%static 'js/cart.js'%}"></script>
{% endblock main-content %}
