{% extends 'app/base.html' %} {% load static %}
{% block head-content %}
<title>Cửa hàng</title>
<link rel="stylesheet" href="{% static 'css/store.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'responsive/base.css' %}" />
{% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
{% endblock head-content %}
{% block main-content %}

<div class="" style="margin-top: 80px">
  <h1 style="margin: 50px 25px 20px; font-size: 32px; font-weight: 600; text-align: center;">Danh sách cửa hàng</h1>
  <div class="" style="display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; margin: 50px 0">
      <figure class="snip1579" style="height: 200px;">
        <img src={% static "images/store8.jpg" %} alt="profile-sample2" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>Thực phẩm sạch Organic Mart</h3>
          <h6>www.organicmart.vn</h6>
          <blockquote>
            <p>Organic Mart chuyên cung cấp thực phẩm hữu cơ và sạch từ các nông trại Việt Nam. Sản phẩm đa dạng từ rau cải, trái cây tới thực phẩm khô.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579 hover" style="height: 200px">
        <img src={% static "images/store1.jpg" %} alt="profile-sample7" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>FarmFresh Vietnam</h3>
          <h6>www.farmfresh.vn</h6>
          <blockquote>
            <p>FarmFresh Vietnam tập trung vào việc cung cấp rau và trái cây hữu cơ được sản xuất tại các nông trại xanh, đảm bảo chất lượng và an toàn thực phẩm.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579" style="height: 200px">
        <img src={% static "images/store2.jpg" %} alt="profile-sample6" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>EcoGreen Mart</h3>
          <h6>www.ecogreenmart.com</h6>
          <blockquote>
            <p>EcoGreen Mart là nơi bạn có thể tìm thấy nhiều loại sản phẩm hữu cơ, từ thực phẩm đến sản phẩm làm đẹp và chăm sóc sức khỏe.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>      
      <figure class="snip1579 hover" style="height: 200px">
        <img src={% static "images/store3.jpg" %} alt="profile-sample2" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>Organic Harvest</h3>
          <h6>www.organicharvest.com.vn</h6>
          <blockquote>
            <p>Organic Harvest cung cấp các sản phẩm hữu cơ như mật ong, ngũ cốc, và các sản phẩm sáng tạo từ thực phẩm hữu cơ, giúp bạn duy trì lối sống lành mạnh.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579 hover" style="height: 200px">
        <img src={% static "images/store4.jpg" %} alt="profile-sample7" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>Clean Greens Vietnam</h3>
          <h6>www.cleangreensvn.com</h6>
          <blockquote>
            <p>Clean Greens Vietnam tập trung vào rau sạch và cung cấp rau cải, rau sống, và các loại thực phẩm sạch khác với chuẩn mực cao.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579" style="height: 200px">
        <img src={% static "images/store5.jpg" %} alt="profile-sample2" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>EcoFood Việt Nam</h3>
          <h6>www.ecofoodvn.com</h6>
          <blockquote>
            <p>EcoFood Việt Nam tận dụng công nghệ tiên tiến để mang đến thực phẩm hữu cơ và sạch tới người tiêu dùng với tiện ích mua sắm trực tuyến.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579 hover" style="height: 200px">
        <img src={% static "images/store6.jpg" %} alt="profile-sample7" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>Nông sản Sài Gòn Green</h3>
          <h6>www.saigongreen.com</h6>
          <blockquote>
            <p>Nông sản Sài Gòn Green tập trung vào việc cung cấp rau sạch và thực phẩm hữu cơ từ vùng Sài Gòn và các vùng lân cận.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1579" style="height: 200px">
        <img src={% static "images/store7.jpg" %} alt="profile-sample6" style="width: 100%; height: 100%" />
        <figcaption>
          <h3>BioLife Market</h3>
          <h6>www.biolifemarket.vn</h6>
          <blockquote>
            <p>BioLife Market là cửa hàng trực tuyến chuyên về các sản phẩm hữu cơ và sạch như mỹ phẩm hữu cơ, thực phẩm khô, và thực phẩm sống.</p>
          </blockquote>
        </figcaption><a href="#"></a>
      </figure>
  </div>
</div>

<script>
    $(".hover").mouseleave(
        function () {
            $(this).removeClass("hover");
        }
    );
</script>

{% endblock main-content %}
